
/*====================================================================================*/
 /* Search Results
/*====================================================================================*/

#category-page {
	padding: 75px 0px !important;
	position: relative;
	width: 100%;
	height: 100%;
	background-image: url("../img/banner/image1.jpg");


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#category-page:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom right, #4c4c4c, #000);
  opacity: .6;
}
#category-page .banner-content { position: relative; top: 0px; }

.cd-header {
  position: relative;
  height: 150px;
  background-color: #331d35;
}
.cd-header h1 {
  color: #ffffff;
  line-height: 150px;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
}
@media only screen and (min-width: 1170px) {
  .cd-header {
    height: 180px;
  }
  .cd-header h1 {
    line-height: 180px;
  }
}

.search-result-page .cd-main-content {
  position: relative;
/*  min-height: 1150px;*/
}
.cd-main-content:after {
  content: "";
  display: table;
  clear: both;
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
/*  position: fixed;*/
/*  top: 45px;*/
  left: 0;
  width: 100%;
}
.cd-main-content.is-fixed .serach-result-box {
  padding-top: 76px;
}
.cd-main-content.is-fixed .cd-filter {
/*  	position: fixed;*/
/*	top: 45px;*/
/*  	height: 100vh;*/
/*  	overflow: hidden;*/
}
.cd-main-content.is-fixed .cd-filter form {
/*  height: 100vh;*/
/*  overflow: auto;*/
  -webkit-overflow-scrolling: touch;
}
.cd-main-content.is-fixed .cd-filter-trigger {
/*  position: fixed;*/
  top: 45px;
	z-index: 999999;
}
@media only screen and (min-width: 768px) {
  .cd-main-content.is-fixed .serach-result-box {
    padding-top: 90px;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-main-content.is-fixed .serach-result-box {
    padding-top: 100px;
  }
}

/* -------------------------------- 

xtab-filter 

-------------------------------- */
.cd-tab-filter-wrapper {
	width: 80%;
	float: right;
  background-color: #ffffff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  z-index: 1;
}
.cd-tab-filter-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

.cd-tab-filter {
  /* tabbed navigation style on mobile - dropdown */
  position: relative;
  height: 50px;
  width: 140px;
  margin: 0 auto;
  z-index: 1;
}
.cd-tab-filter::after {
  /* small arrow icon */
  content: '';
  position: absolute;
  right: 14px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  pointer-events: none;
}
.cd-tab-filter ul {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
  box-shadow: inset 0 -2px 0 #cd2122;
}
.cd-tab-filter li {
  display: none;
}
.cd-tab-filter li:first-child {
  /* this way the placehodler is alway visible */
  display: block;
}
.cd-tab-filter a {
  display: block;
  /* set same size of the .cd-tab-filter */
  height: 50px;
  width: 140px;
  line-height: 50px;
  padding-left: 14px;
}
.cd-tab-filter a.selected {
  background: #cd2122;
  color: #ffffff;
}
.cd-tab-filter.is-open::after {
  /* small arrow rotation */
  -webkit-transform: translateY(-50%) rotate(-180deg);
  -moz-transform: translateY(-50%) rotate(-180deg);
  -ms-transform: translateY(-50%) rotate(-180deg);
  -o-transform: translateY(-50%) rotate(-180deg);
  transform: translateY(-50%) rotate(-180deg);
}
.cd-tab-filter.is-open ul {
  box-shadow: inset 0 -2px 0 #cd2122, 0 2px 10px rgba(0, 0, 0, 0.2);
}
.cd-tab-filter.is-open ul li {
  display: block;
}
.cd-tab-filter.is-open .placeholder a {
  /* reduces the opacity of the placeholder on mobile when the menu is open */
  opacity: .4;
}
@media only screen and (min-width: 768px) {
  .cd-tab-filter {
    /* tabbed navigation style on medium devices */
    width: auto;
    cursor: auto;
  }
  .cd-tab-filter::after {
    /* hide the arrow */
    display: none;
  }
  .cd-tab-filter ul {
    background: transparent;
    position: static;
    box-shadow: none;
    text-align: center;
  }
  .cd-tab-filter li {
    display: inline-block;
  }
  .cd-tab-filter li.placeholder {
    display: none !important;
  }
  .cd-tab-filter a {
    display: inline-block;
    padding: 0 1em;
    width: auto;
    color: #9a9a9a;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem;
  }
  .no-touch .cd-tab-filter a:hover {
    color: #cd2122;
  }
  .cd-tab-filter a.selected {
    background: transparent;
    color: #cd2122;
    /* create border bottom using box-shadow property */
    box-shadow: inset 0 -2px 0 #cd2122;
  }
  .cd-tab-filter.is-open ul li {
    display: inline-block;
  }
}
@media only screen and (min-width: 1170px) {
  .cd-tab-filter {
    /* tabbed navigation on big devices */
    width: 100%;
    float: right;
    margin: 0;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .cd-tab-filter.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}

/* -------------------------------- 

xgallery 

-------------------------------- */
.serach-result-box {
  padding: 26px 5%;
  width: 100%;
}
.serach-result-box li {
  margin-bottom: 1.6em;
	float: left;
/*  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);*/

}
.serach-result-box .card-body { float: left; }

.serach-result-box li.gap {
  /* used in combination with text-align: justify to align gallery elements */
  opacity: 0;
  height: 0;
  display: inline-block;
}
.card_img-wrap { padding: 0px; }
.serach-result-box img {
  display: block;
	height: 100%;
/*  width: 100%;*/
}
.serach-result-box .cd-fail-message {
  display: none;
	display: inline-block;
  width: 100%;
  text-align: center;
	color: #cd2122;
}
@media only screen and (min-width: 768px) {
  .serach-result-box {
/*    padding: 40px 3%;*/
  }
  .serach-result-box ul {
    text-align: justify;
  }
  .serach-result-box ul:after {
    content: "";
    display: table;
    clear: both;
  }
  .serach-result-box li {
/*    width: 48%;*/
    margin-bottom: 2em;
  }
}
@media only screen and (min-width: 1170px) {
  .serach-result-box {
    padding: 50px 2%;
    float: right;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;
  }
  .serach-result-box li {
/*    width: 23%;*/
  }
  .serach-result-box.filter-is-visible {
    /* reduce width when filter is visible */
    width: 80%;
  }
}
.category-search-result .serach-result-box.filter-is-visible {
	width: 100%;
}
.card-body { position: relative; display: inline-block; width: 100%; padding: 1rem 1rem 0rem 1rem; border: 1px solid rgba(0,0,0,.125); background: #fff;  }
.card-body .card-media { position: relative; }
.card-body .card-link { float: left; }
.card-body .card-link a h4 { 
	font-size: 12px; 
	font-weight: bold;  
	display: block;
	/* Fallback for non-webkit */
	display: -webkit-box;
/*	height: 35px;*/
	margin-bottom: 30px;
	/* Fallback for non-webkit */
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 16px; text-align: left;
}
.card-title  { 
	text-align: left;
    line-height: 20px;
    padding: 10px 0px;
	margin: 0px;
}
.card-body .card-link a h4:hover { color: #eb1922; font-weight: bold;  }
/*.card-title p { margin: 0px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; color: black; font-weight: bold;  font-size: 14px; }*/

.card-wrapper .card-body .card-caption .seller-info { float: right; width: 100%; }
.card-wrapper .card-wrapper .card-body .card-caption .seller-avatar,
.card-wrapper .card-body .card-caption .seller-info,
.card-wrapper .card-body .card-caption .seller-name,
.card-wrapper .card-body .card-caption .seller-badge,
.card-wrapper .card-body .card-caption .seller-rating{
	float: right; width: 100%; text-align: right; line-height: 16px;
}
.card-wrapper .card-body .card-caption .seller-rating .rating-stars { float: right; width: 100%; }
.card-wrapper .card-body .card-caption .seller-rating a i:hover { color: gold; }
.card-wrapper .card-body .card-caption .card-link span { font-size: 12px; font-weight: bold; }
.serach-result-box .card-body .card-caption .seller-avatar img { float: right; }

.card-wrapper .card-body .card-caption {
    background: #fff;
    display: inline-block;
	width: 100%; 
	font-weight: bold; 
	color: #9f9f9f; 
	font-size: 10px; 
	padding: 10px 20px; 
}

.card-wrapper .card-body { float: left; font-size: 12px; font-weight: bold; line-height: 30px; }

.card-wrapper .card-price-badge a { 
	background-color: #eb1922;
	color: white; font-size: 16px;
	border-radius: 100px;
	padding: 2px 20px;
	transition: .2s;
	cursor: default;
}
.card-wrapper .featured-service { background: orange; }
.card-wrapper .card-featured-badge:before { content: 'Featured'; }
.card-wrapper .card-featured-badge { 
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: orange;
	color: white;
	border-radius: 100px;
	padding: 2px 20px;
	transition: .2s;
	cursor: default;
}
 
.card-wrapper .featured-service .card-button i, .card-wrapper .premium-service .card-button i { 
	color: white !important;
}
.card-wrapper .premium-service { background: gold; }
.card-wrapper .card-premium-badge:before { content: 'Premium'; }
.card-wrapper .card-premium-badge { 
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: gold;
	color: white;
	border-radius: 100px;
	padding: 2px 20px;
	transition: .2s;
	cursor: default;
}

.card-wrapper .featured-service a h4:hover, .card-wrapper .premium a h4:hover,
.card-wrapper .featured-service .card-button i:hover, .card-wrapper .premium-service .card-button i:hover {
	color: #cd2122 !important; 
}

.card-wrapper .card-button { float: right; }
.default-button-style { display: inline-block; margin: 25px auto 50px; }
.default-button-style a {
	display: inline-block;
    color: black;
    margin: 0px 10px;
    border-radius: 50px;
	border: 1px solid #000;
    padding: 5px 20px;
	transition: .2s;
}
.default-button-style a:hover { background: #eb1922; border: 1px solid #eb1922; color: white; }

.serach-result-box .card-desc { float: left; width: 100%; }
.serach-result-box .card-desc p { 
	color: #1b1b1b;
    font-size: 10px;
    font-weight: bold;
    margin: 0px !important;
    text-transform: uppercase;
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    line-height: 20px;
}
.serach-result-box .card-desc .card-text { padding: 0px;}
.serach-result-box .card-desc span { 
    display: inline-block;
    width: 120px;
    color: grey;
    text-align: right !important;
    padding-right: 10px;
}
.serach-result-box .card-body {
	position: relative;
	overflow: hidden;
}
.serach-result-box .card-buttons { 
	position: absolute;
    bottom: -100%; left: 0px;
    padding: 70px 0px;
    width: 100%;
    height: 100%;
    transition: .3s ease;
    vertical-align: bottom;
}
.serach-result-box .card-body:hover .card-buttons { 
	background-color: rgba(0,0,0,.8);
	bottom: 0px;
	
}
.serach-result-box .card-buttons a { 
    float: left;
    border-radius: 5px;
    line-height: 30px;
    padding: 0px 10px;
    min-width: 170px;
    margin: 10px 25%;
    text-align: center;
    background: #fafafa;
    color: black; 
	transition: .1s ease;
}
.serach-result-box .card-buttons a:hover { background: #cd2122; color: white;   }
/* -------------------------------- 

xfilter 

-------------------------------- */
.cd-filter {
  position: absolute;
  top: 0;
  left: 0;
/*  width: 280px;*/
  height: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 20px transparent;
  z-index: 2;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s, box-shadow 0.3s;
  -moz-transition: -moz-transform 0.3s, box-shadow 0.3s;
  transition: transform 0.3s, box-shadow 0.3s;
}
.cd-filter::before {
  /* top colored bar */
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #1b1b1b;
  z-index: 2;
}
.cd-filter form {
  padding: 70px 20px;
}
.cd-filter .cd-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  color: #ffffff;
  font-size: 1.3rem;
  text-align: center;
  background: #cd2122;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  z-index: 3;
}
.no-touch .cd-filter .cd-close:hover {
  background: #32255f;
}
.cd-filter.filter-is-visible {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.2);
}
.cd-filter.filter-is-visible .cd-close {
  opacity: 1;
}
@media only screen and (min-width: 1170px) {
  .cd-filter {
    width: 20%;
  }
  .cd-filter form {
    padding: 70px 5%;
  }
}

.cd-filter-trigger {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  line-height: 50px;
  width: 60px;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  color: transparent;
  white-space: nowrap;
  background: transparent url("../img/cd-icon-filter.svg") no-repeat center center;
  z-index: 3;
}
.cd-filter-trigger.filter-is-visible {
  pointer-events: none;
}
@media only screen and (min-width: 1170px) {
  .cd-filter-trigger {
    width: auto;
    left: 2%;
    text-indent: 0;
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    padding-left: 24px;
    background-position: left center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
  }
  .no-touch .cd-filter-trigger:hover {
    color: #cd2122;
  }
  .cd-filter-trigger.filter-is-visible, .cd-filter-trigger.filter-is-visible:hover {
    color: #ffffff;
  }
}
/* PRICE RANGE SLIDER */ 

.range-slider_wrapper { position: relative; display: inline-block; width: 100%; }
.range-slider {
	margin: auto;
	position: absolute;
	width: 100%;
	
}

/* -------------------------------- 

Category Research Results

-------------------------------- */
.cd-filter-block {
  margin-bottom: 1.6em;
}
.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #1b2122;
  text-transform: uppercase;
  font-size: 0.8rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.no-touch .cd-filter-block h4:hover {
  color: #cd2122;
}
.cd-filter-block h4::before {
  /* arrow */
	font-family: 'Fontawesome';
  content: "\f078";
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 28px;
/*  background: url("../img/cd-icon-arrow.svg") no-repeat center center;*/
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-filter-block h4.closed::before {
  -webkit-transform: translateY(-50%) rotate(-90deg);
  -moz-transform: translateY(-50%) rotate(-90deg);
  -ms-transform: translateY(-50%) rotate(-90deg);
  -o-transform: translateY(-50%) rotate(-90deg);
  transform: translateY(-50%) rotate(-90deg);
}
.cd-filter-block input, .cd-filter-block select,
.cd-filter-block .radio-label::before,
.cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  border: 2px solid #e6e6e6;
}
.cd-filter-block input[type='search'],
.cd-filter-block input[type='text'],
.cd-filter-block select {
  width: 100%;
	font-size: 14px;
  padding: .5em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
	color: #1b1b1b;
}
.cd-filter-block input[type='search']:focus,
.cd-filter-block input[type='text']:focus,
.cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #cd2122;
}
.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
/*  font-size: 1.6rem !important;*/
}
.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}
.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}
.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}
.cd-filter-block select {
  cursor: pointer;
/*  font-size: 1.4rem;*/
}
.cd-filter-block select::-ms-expand {
  display: none;
}
.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}
.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}
.cd-filter-block input[type=radio],
.cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}
.cd-filter-block .checkbox-label,
.cd-filter-block .radio-label {
  padding-left: 24px;
	line-height: 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
.cd-filter-block .checkbox-label::before,
.cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
}
.cd-filter-block .checkbox-label::after,
.cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}
.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-check.svg") no-repeat center center;
}
.cd-filter-block .radio-label::before,
.cd-filter-block .radio-label::after {
  border-radius: 50%;
}
.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 4px;
}
.cd-filter-block [type="checkbox"]:not(:checked) + label:before, .cd-filter-block [type="checkbox"]:checked + label:before { top: 4px !important;}

.cd-filter-block input[type=checkbox]:checked + label::before {
  	border-color: #cd2122;
	background-color: #fff;
	top: 5px !important;
}.cd-filter-block input[type=radio]:checked + label::before {
	border-color: #cd2122;
  	background-color: #fff;
	top: 10px !important;
}
.cd-filter-block input[type=radio]:checked + label::after,
.cd-filter-block input[type=checkbox]:checked + label::after {
  display: block;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}
